.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
}

.gallery {
    display: flex;
    align-content: center;
}
img {
    float: left;
    margin: 5px;
    width: 24%;
    height: 250px;
    background-size: cover;
}

