<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Kontakt</title>
</head>
<body>
<section layout:fragment="content">
    <div id="contactForm">
        <form method="post" action="/kontakt">
            <label for="emailaddress">Twój adres email
                <input name="email" type="email" id="emailaddress" placeholder="np. janKowalski@gmail.com">
            </label><br>
            <label for="name">Twoje imię/nazwa
                <input name="name" type="text" id="name" placeholder="np. Jan Kowalski">
            </label><br>
            <label for="text">Treść wiadomości</label>
            <textarea name="text" id="text" placeholder="Zacznij pisać..." rows="5" cols="30"></textarea>
            </label><br>
            <button type="submit">Wyślij</button>
        </form>
    </div>
</section>
</body>
</html>