<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>FHU Daremny Trud</title>
</head>
<body>
<section layout:fragment="content">
    <div id="description">
        <p>Jesteśmy małą firmą oferującą profesjonalne i kompleksowe usługi remontowo wykończeniowe na terenie Krakowa i
            okolic.</p>
        <p>Posiadamy duże doświadczenie praktyczne oraz bardzo dobre i nowoczesne zaplecze techniczne. Naszymi klientami
            są zarówno osoby prywatne jak i duże firmy. Do każdego zlecenia podchodzimy indywidualnie. Zapewniamy
            fachową pomoc w adaptacji wnętrz oraz doborze, zakupie i transporcie materiałów.</p>
        <p>Gwarantujemy uczciwość (brak ukrytych opłat), terminowość oraz wysoką jakość wykonywanych usług przy
            jednoczesnym zachowaniu konkurencyjnych cen. Zachęcamy do współpracy !</p>
    </div>
</section>
</body>
</html>