*{
    color: aqua;
    text-align: center;
}

header {
    background: aqua;
    color: chartreuse;
    text-align: center;
}

footer {
    color: chartreuse;
}

#gallery {
    flex-direction: row;
    width: 25%;
    height: 300px;
}